@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/inter-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    src: url("fonts/inter-700.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 900;
    src: url("fonts/inter-900.woff2") format("woff2");
    font-display: swap;
}

html {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: #2D3440;
    background-color: #FEAFC3;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.main-container {
    flex-grow: 1;
}

.page-header {
    display: flex;
    width: 1170px;
    margin: 0 auto;
    padding: 24px 0;
}

.button {
    line-height: 20px;
    font-weight: 700;
    text-align: center;
    color: #2D3440;
    background-color: #FCFCFC;
    text-decoration: none;
}

.button-order {
    display: block;
    width: 139px;
    border: 4px solid rgba(252, 252, 252, 0.4);
    border-radius: 26px;
    box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
}

.order-text {
    display: inline-block;
    padding: 12px 0;
}

.navigation {
    display: flex;
    width: 1017px;
}

.navigation-list {
    width: 510px;
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin-left: 16px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.navigation-user {
    max-width: 431px;
    margin-left: auto;
}

.navigation-user > .navigation-item:nth-of-type(1) {
    padding-left: 0;
}

.navigation-user > .navigation-item {
    margin-right: 16px;
}

.navigation-user > .navigation-item:nth-of-type(1),
.navigation-user > .navigation-item:last-child {
    margin-right: 0;
}

.navigation-link {
    padding: 8px 16px;
    font-weight: 400;
    line-height: 20px;
    color: #2D3440;
    text-decoration: none;
    position: relative;
}

.navigation-link:last-child {
    margin-right: 0;
}

.navigation-link-tel {
    font-weight: 700;
}

.navigation-link-button {
    font-size: 14px;
    background: rgba(252, 252, 252, 0.3);
    border-radius: 30px;
}

.navigation-icon {
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    fill: #dbdbdb;
    margin: auto;
}

.navigation-link-input {
    padding-left: 38px;
}

.navigation-link-input .navigation-icon {
    right: auto;
    left: 16px;
    margin: auto 0;
}

.navigation-link-basket {
    padding-left: 38px;
}

.navigation-link-basket .navigation-icon {
    right: auto;
    left: 16px;
    margin: auto 0;
}

.page-container {
    width: 1170px;
    margin: 0 auto;
}

.icecreams {
    display: flex;
    column-gap: 41px;
}

.icecreams-slide {
    display: flex;
}

.icecreams-slide:nth-child(2),
.icecreams-slide:nth-child(3) {
    width: 100px;
    height: 150px;
}

.slider-title-section:nth-of-type(1) {
    width: 470px;
    align-self: center;
}

.slider {
    margin-bottom: 80px;
}

.slider-title {
    margin: 0;
    font-weight: 900;
    font-size: 36px;
    line-height: 46px;
}

.slider-description {
    margin: 0;
    padding-top: 24px;
    padding-bottom: 48px;
    font-weight: 400;
    line-height: 24px;
    font-size: 18px;
}

.slider-image-not {
    padding-top: 204px;
}

.slider-pagination-section {
    display: flex;
    align-items: flex-end;
}

.slider-paragraph-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.slider-paragraph-checked {
    width: 12px;
    height: 12px;
    background-color: white;
    border-radius: 50%;
}

.slider-paragraph {
    width: 12px;
    height: 12px;
    background-color: white;
    opacity: 0.3;
    margin-left: 8px;
    border-radius: 50%;
}

.slider-socials {
    margin-left: auto;
}

.slider-social-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    flex-wrap: wrap;
}

.slider-social-item {
    margin-right: 16px;
}

.slider-social-link {
    display: block;
    width: 24px;
    height: 24px;
    background-color: #FCFCFC;
}

.slider-social-item:nth-of-type(3n) {
    margin-right: 0;
}

.gifts {
    margin-bottom: 80px;
}

.gifts-list {
    display: flex;
}

.gifts-item {
    width: 570px;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    padding: 36px 0 36px 36px;
}

.gifts-item:nth-child(2n) {
    margin-right: 0;
}

.gifts-title {
    margin: 0;
    margin-bottom: 55px;
}

.gifts-title,
.popular-title,
.advantages-title {
    font-weight: 900;
    font-size: 32px;
    line-height: 46px;
    text-align: center;
}

.popular-title {
    margin: 0;
    padding-bottom: 56px;
}

.gifts-item-title {
    font-weight: 700;
    line-height: 30px;
    font-size: 24px;
    margin: 0;
    padding-bottom: 28px;
}

.gifts-item-description {
    margin: 0;
    padding-bottom: 28px;
}

.button-gifts {
    width: 176px;
    justify-self: flex-end;
}

.gifts-item:first-child {
    background-color: #FF7799;
    background-image: url("../images/main-page/gift1.png");
    background-size: 219px 268px;
    background-repeat: no-repeat;
}

.gifts-item:nth-of-type(2) {
    background-color: #FF7799;
    background-image: url("../images/main-page/gift2.png");
    background-size: 219px 268px;
    background-repeat: no-repeat;
}

.popular {
    margin-bottom: 80px;
}

.popular-list,
.product-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.popular-item,
.product-item {
    width: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 30px;
    margin-bottom: 40px;
}

.popular-item:nth-child(4n),
.product-item:nth-child(4n) {
    margin-right: 0;
}

.popular-item-title,
.product-item-title {
    margin: 0;
    padding-top: 16px;
    padding-bottom: 8px;
}

.popular-buy,
.product-buy {
    margin-top: auto;
    display: flex;
    width: 190px;
}

.popular-price,
.product-price {
    margin-right: auto;
}

.button-popular,
.button-product {
    margin-left: auto;
    width: 32px;
    height: 32px;
    background-color: #FF2F64;
}

.popular-link,
.product-link {
    font-weight: 700;
    line-height: 24px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    color: #2D3440;
}

.popular-item-description,
.product-item-description {
    text-align: center;
    margin: 0;
    padding-bottom: 16px;
}

.grey-text {
    color: #565C66;
}

.popular-price,
.product-price {
    font-size: 20px;
    line-height: 24px;
}

.advantages {
    margin-bottom: 80px;
}

.advantages-container {
    padding: 24px;
}

.advantages-container-inner {
    padding: 56px 40px;
}

.advantages-title {
    margin: 0;
    margin-bottom: 56px;
}

.advantages-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 1042px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.advantages-item {
    width: 505px;
    margin-right: 32px;
}

.advantages-item:nth-of-type(2n) {
    margin-right: 0;
}

.blog-subscribe {
    display: flex;
    column-gap: 30px;
    margin-bottom: 80px;
}

.blog-subscribe-title {
    font-weight: 400;
    line-height: 20px;
    font-size: 16px;
    padding: 32.59px 0 12.22px 32px;
    margin: 0;
}

.blog-title {
    font-weight: 700;
    line-height: 30px;
    font-size: 24px;
    margin: 0;
    padding-left: 32px;
    width: 303px;
    padding-bottom: 67.15px;
}

.blog-link {
    text-decoration: none;
    color: #2D3440;
}

.blog {
    width: 570px;
    background-color: #FFFFFF;
    background-image: url("../images/main-page/news.jpg");
    background-size: 570px 224px;
    background-repeat: no-repeat;
}

.subscribe {
    width: 570px;
}

.subscribe-container {
    padding: 6px;
}

.subscribe-container-inner {
    padding: 26px;
}

.blog-subscribe-dop {
    margin: 0;
    width: 506px;
    padding-bottom: 42px;
}

.subscribe-form {
    display: flex;
}

.subscribe-form-email {
    width: 332px;
    margin-right: 14px;
    border: 0;
}

.subscribe-form-submit {
    width: 160px;
    padding: 0;
    border: 0;
}

.delivery-title,
.catalog-product-title {
    font-weight: 900;
    line-height: 46px;
    font-size: 32px;
}

.delivery {
    display: flex;
    column-gap: 135px;
    background-color: #FFFFFF;
    background-image: url("../images/main-page/delivery.jpg");
    background-size: 1170px 534px;
    background-repeat: no-repeat;
    margin-bottom: 80px;
}

.delivery-text {
    width: 371px;
    padding: 167px 0 163px 100px;
}

.delivery-title {
    margin: 0;
    padding-bottom: 24px;
}

.delivery-description {
    margin: 0;
}

.delivery-form {
    width: 500px;
    padding-top: 84px;
    padding-right: 84px;
}

.delivery-form-container {
    padding: 40px 40px 42px;
    background-color: #FCFCFC;
}

.delivery-form-description {
    margin: 0;
    padding-bottom: 32px;
}

.delivery-form-action {
    display: grid;
    grid-template-columns: 117px 287px;
    gap: 20px 16px;
}

.delivery-form-label {
    display: flex;
    flex-direction: column;
}

.address-contacts {
    padding: 64px 0 64px 64px;
}

.address-contacts-inner {
    background-color: #FCFCFC;
    width: 263px;
    padding: 40px;
}

.address-with-button {
    grid-column: 1/-1;
}

.delivery-form-date,
.delivery-form-tel,
.delivery-form-address {
    margin-top: 8px;
}

.delivery-form-submit {
    grid-column: 1/-1;
    margin: 0 auto;
    margin-top: 12px;
}

.contacts-text {
    font-style: normal;
    margin: 0;
    margin-bottom: 12px;
}

.contacts {
    background-color: #FFFFFF;
    background-image: url("../images/main-page/feedback.jpg");
    background-size: 1170px 492px;
    background-repeat: no-repeat;
}

.address-text {
    font-style: normal;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    margin: 0;
    margin-bottom: 24px;
}

.tel-text {
    margin: 0;
}

.tel-text-link {
    font-style: normal;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-decoration: none;
    color: #2D3440;
}

.contacts-text-little {
    font-size: 14px;
    line-height: 20px;
    font-style: normal;
    margin: 0;
    margin-bottom: 32px;
}

.form-button {
    font-weight: 700;
    line-height: 20px;
    font-size: 16px;
    text-align: center;
    color: #FCFCFC;
    text-decoration: none;
    background: #FF2F64;
}

.page-footer {
    width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    padding-top: 48px;
}

.footer-socials {
    max-width: 128px;
}

.footer-social-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    flex-wrap: wrap;
}

.footer-social-item {
    margin-right: 16px;
    margin-bottom: 16px;
}

.footer-social-link {
    display: block;
    width: 24px;
    height: 24px;
    background-color: #FCFCFC;
}

.footer-social-item:nth-of-type(3n) {
    margin-right: 0;
}

.footer-links {
    width: 356px;
    margin-left: 299px;
}

.made {
    width: 193px;
    margin-left: 200px;
}

.footer-links-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 356px;
    display: flex;
    flex-wrap: wrap;
}

.footer-link {
    text-decoration: none;
    color: #2D3440;
    line-height: 20px;
    font-size: 14px;
}

.footer-links-item {
    width: 126px;
}

.footer-links-item:nth-child(2n) {
    width: 182px;
    margin-left: 24px;
}

.footer-links-item:first-of-type {
    font-weight: 700;
}

.made-text {
    font-size: 12px;
    line-height: 16px;
}

.html-academy-footer-link {
    color: #2D3440;
}

.breadcrumbs {
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
    flex-wrap: wrap;
}


.breadcrumbs-link {
    line-height: 20px;
    font-weight: 700;
    color: #2D3440;
    text-decoration: none;
    margin-right: 28px;
}

.catalog-filter {
    display: flex;
    width: 823px;
    flex-wrap: wrap;
}

.catalog-filter-group {
    margin: 0;
    padding: 0;
}

.catalog-filter-group:nth-of-type(1) {
    width: 192px;
}

.catalog-filter-group:nth-of-type(2) {
    width: 192px;
    margin-left: 24px;
}

.catalog-filter-group:nth-of-type(3) {
    width: 379px;
    margin-left: 24px;
}

.catalog-filter-group:nth-of-type(4) {
    width: 600px;
}

.catalog-filter-title {
    font-size: 14px;
    line-height: 20px;
}

.catalog-filter-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.catalog-filter-item:not(:last-child) {
    margin-right: 16px;
}

.filter-button {
    font-weight: 700;
    line-height: 20px;
    font-size: 14px;
    background-color: rgba(252, 252, 252, 0.3);
    width: 185px;
    margin-left: 16px;
}

.select-control {
    line-height: 20px;
    font-size: 14px;
    background-color: rgba(252, 252, 252, 0.3);
}

.catalog-pagination {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.pagination-show-more {
    width: 179px;
    grid-column: 2;
    margin: 0 auto;
}

.pagination {
    display: flex;
    width: 168px;
    grid-column: 3;
    margin: 0;
    padding: 0;
    margin-left: auto;
    list-style-type: none;
    align-items: center;
}

.pagination-item {
    display: flex;
    width: 24px;
    height: 24px;
    justify-content: center;
    align-items: center;
}

.pagination-item:first-child {
    margin-right: 8px;
    width: 16px;
    height: 16px;
}

.pagination-item:last-child {
    margin-left: 8px;
    width: 16px;
    height: 16px;
}

.pagination-link {
    text-decoration: none;
    color: #2D3440;
    line-height: 20px;
}

.pagination-current {
    background-color: #FCFCFC;
}

.main-inner {
    padding-top: 32px;
}
