@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/inter-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    src: url("fonts/inter-700.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 900;
    src: url("fonts/inter-900.woff2") format("woff2");
    font-display: swap;
}

html {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: #2D3440;
    background-color: #FEAFC3;
}

.main-container {
    flex-grow: 1;
}

.page-header {
    display: flex;
    width: 1170px;
    margin: 0 auto;
}

.button {
    line-height: 20px;
    font-weight: 700;
    text-align: center;
    color: #2D3440;
    background-color: #FCFCFC;
    text-decoration: none;
}

.navigation {
    display: flex;
}

.navigation-list {
    width: 510px;
    margin: 0;
    padding: 0;
    margin-left: 16px;
}

.navigation-user {
    max-width: 480px;
    margin-left: auto;
}

.navigation-link {
    font-weight: 400;
    line-height: 20px;
    color: #2D3440;
    text-decoration: none;
}

.navigation-link-tel {
    font-weight: 700;
}

.navigation-link-button {
    font-size: 14px;
    background: rgba(252, 252, 252, 0.3);
}

.slider-title {
    font-weight: 900;
    font-size: 36px;
    line-height: 46px;
}

.slider-description {
    font-weight: 400;
    line-height: 24px;
    font-size: 18px;
}

.gifts-title,
.popular-title,
.advantages-title {
    font-weight: 900;
    font-size: 32px;
    line-height: 46px;
    text-align: center;
}

.gifts-item-title {
    font-weight: 700;
    line-height: 30px;
    font-size: 24px;
}

.gifts-item:first-child {
    background-color: #FF7799;
    background-image: url("../images/main-page/gift1.png");
    background-size: 219px 268px;
    background-repeat: no-repeat;
}

.gifts-item:nth-of-type(2) {
    background-color: #FF7799;
    background-image: url("../images/main-page/gift2.png");
    background-size: 219px 268px;
    background-repeat: no-repeat;
}

.popular-link,
.product-link {
    font-weight: 700;
    line-height: 24px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    color: #2D3440;
}

.popular-item-description,
.product-item-description {
    text-align: center;
}

.grey-text {
    color: #565C66;
}

.popular-price,
.product-price {
    font-size: 20px;
    line-height: 24px;
}

.blog-subscribe-title {
    font-weight: 400;
    line-height: 20px;
    font-size: 16px;
}

.blog-title {
    font-weight: 700;
    line-height: 30px;
    font-size: 24px;
}

.blog-link {
    text-decoration: none;
    color: #2D3440;
}

.blog {
    background-color: #FFFFFF;
    background-image: url("../images/main-page/news.jpg");
    background-size: 570px 224px;
    background-repeat: no-repeat;
}

.delivery-title,
.catalog-product-title {
    font-weight: 900;
    line-height: 46px;
    font-size: 32px;
}

.delivery {
    background-color: #FFFFFF;
    background-image: url("../images/main-page/delivery.jpg");
    background-size: 1170px 534px;
    background-repeat: no-repeat;
}

.contacts-text {
    font-style: normal;
}

.contacts {
    background-color: #FFFFFF;
    background-image: url("../images/main-page/feedback.jpg");
    background-size: 1170px 492px;
    background-repeat: no-repeat;
}

.address-text {
    font-style: normal;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
}

.tel-text-link {
    font-style: normal;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-decoration: none;
    color: #2D3440;
}

.contacts-text-little {
    font-size: 14px;
    line-height: 20px;
    font-style: normal;
}

.form-button {
    font-weight: 700;
    line-height: 20px;
    font-size: 16px;
    text-align: center;
    color: #FCFCFC;
    text-decoration: none;
    background: #FF2F64;
}

.footer-link {
    text-decoration: none;
    color: #2D3440;
    line-height: 20px;
    font-size: 14px;
}

.footer-links-item:first-of-type {
    font-weight: 700;
}

.made-text {
    font-size: 12px;
    line-height: 16px;
}

.html-academy-footer-link {
    color: #2D3440;
}


.breadcrumbs-link {
    line-height: 20px;
    font-weight: 700;
    color: #2D3440;
    text-decoration: none;
}

.catalog-filter-title {
    font-size: 14px;
    line-height: 20px;
}

.filter-button {
    font-weight: 700;
    line-height: 20px;
    font-size: 14px;
    background-color: rgba(252, 252, 252, 0.3);
}

.select-control {
    line-height: 20px;
    font-size: 14px;
    background-color: rgba(252, 252, 252, 0.3);
}

.pagination-link {
    text-decoration: none;
    color: #2D3440;
    line-height: 20px;
}

.pagination-current {
    background-color: #FCFCFC;
}
